<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/agenda">Agenda</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
      </ul>
    </nav>
   {{{body}}} 
  </body>
</html>
